.info {
  width: 300px;
  height: 256px;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}

.info_img {
  margin-top: 15px;
  margin-bottom: 20px;
  width: 64px;
  height: 64px;
  margin-left: 110px;
}

.text_info {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}

.title_info {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.flex_block_info {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}
