.formBron {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    font-family: inter;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    width: 500px;
    height: 750px;
    border-radius: 25px;
  }

  label {
    margin: 10px;
  }

  select {
    margin-left: 10px;
    height: 50px;
    width: 400px;
    font-size: 16px;
    font-family: inter;
    font-weight: 700;
    background: #d9d9d9;
    border-radius: 12.5px;
  }
  
  input {
    font-size: 16px;
    font-family: inter;
  }