.li_museum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 100px;
  margin: 20px;
  padding: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  border-radius: 20px;
}

.li_text {
  padding: 30px;
  color: rgb(99, 99, 99);
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 0%;
  text-align: left;
}
